<nav class="border-gray-200 bg-primary dark:bg-primary dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <span class="self-center text-4xl font-extrabold whitespace-nowrap dark:text-white">COCREATE</span>
    <div class="w-full md:block md:w-auto" id="navbar-solid-bg">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
        <li>
          <a href="/projects" class="block py-2 px-3 md:p-0 text-2xl text-white dark:bg-secondary md:dark:bg-transparent md:hover:text-secondary" aria-current="page" routerLink="'projects'">ALL ADS</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 text-2xl text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-secondary dark:text-white md:dark:hover:text-secondary dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="'projects'">MY ADS</a>
        </li>
        <li>
          <a href="/add-project" routerLinkActive="active" class="block py-2 px-3 md:p-0 text-2xl text-white md:hover:text-secondary bg-blue-700 rounded md:bg-transparent dark:bg-secondary md:dark:bg-transparent" aria-current="page" routerLink="'add-project'">ADD AD</a>
        </li>
        <li>
          <a href="/profile" class="block py-2 px-3 md:p-0 text-2xl text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-secondary dark:text-white md:dark:hover:text-secondary dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">PROFILE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>