<div class="mainContainer">
<h1>Login</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <input id="user-name" type="text" formControlName="userName" placeholder="Username"><br><br>

  <input id="password" type="password" formControlName="password" placeholder="Password"><br><br>
  <button type="submit">Login</button>

</form>
<div>
  <p>Or login using</p>
  <img class="iImg" src="assets/images/github_logo.png" alt="Github Logo" width="150" height="150">
  <!-- <img class="iImg" src="assets/images/facebook_logo.png" alt="Facebook Logo" width="150" height="150"> -->
  <img class="iImg" src="assets/images/google_logo.png" alt="Google Logo" width="150" height="150">
</div>
</div>

