<div class="mainContainer">
<h1>Login</h1>
<form>
  <input class="iLogin" type="text" id="iUsername" name="iUsername" placeholder="Username"><br><br>
  <input class="iLogin" type="password" id="iPass" name="iPass" placeholder="Password"><br><br>
  <div>
    <a class="loginLink">Forget password</a>
    <a class="loginLink">Register</a>
  </div>
  <br><br>
  <input type="submit" value="Submit">
</form>
<div>
  <p>Or login using</p>
  <img class="iImg" src="assets/images/github_logo.png" alt="Github Logo" width="150" height="150">
  <img class="iImg" src="assets/images/facebook_logo.png" alt="Facebook Logo" width="150" height="150">
  <img class="iImg" src="assets/images/google_logo.png" alt="Google Logo" width="150" height="150">
</div>
</div>

